html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    font-size: 25px;
    margin: 25px;
    text-align: center;
}
hr{
    width: 220px;
    border: 1px dotted gray;
}
h2{
    font-size:20px ;
    text-align: center;
    padding: 20px;
}
.mainbox{
    
    width: 200px;
    background-color: #ED7F80;
    display: inline-block;
    padding: 25px;
    margin-left: 40%;
margin-top: 20px;
    
}
.box{
    height: 100px;
    width: 180px;
    background-color: #DAFAD4;
    border: 3px solid black;
    box-shadow: inset 3px 3px 10px 10px  #ADD8E6;
}
.listdiv {
    
    margin-top: 40px;
    margin-left: 40%;
    display: inline-block;
}
h4{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.seconddiv{
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    background-color: white;
    box-sizing: border-box;
    
    display: flex;
   
    
}
    
    
   
    
   
    
    

    
    
   
    
   
.child{
    height: 100px;
    width:180px;
    border: none;
    background-color: #CCCCCC;
    box-sizing: border-box;
    margin: 10px;
    display: inline-block;

    
    
   
    
   
   
   
    
    
    
    
   
}
.parentdiv{
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    background-color: white;
    box-sizing: border-box;
    

}
.child1{
    height: 100px;
    width:180px;
    border: 1px solid black;
    background-color: #CCCCCC;
    box-sizing: border-box;
    margin: 10px;
    display: inline-block;
    
    
    
   
    
}
.parentdiv1{
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    background-color: white;
    box-sizing: border-box;
    
    display: flex;
   

}
.child2{
    height: 100px;
    width:180px;
    border: 1px solid black;
    background-color: #CCCCCC;
    box-sizing: border-box;
    margin: 10px;
    display: inline-block;
    

}